<div class="row">
  <div class="col-12">
    <h1 class="text-success my-5">DETALLE DE USUARIO</h1>
  </div>
  <div class="col-12" *ngIf="currentUser">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
        <img src="{{currentUser.avatar}}" alt="" class="pv_user_img">

      </div>
      <div class="col-12 col-md-6 pl-4">
        <h2 class="text-primary border-bottom pb-3">Detalle de {{currentUser.name}}</h2>
        <h3 class="text-secondary">
          Edad: {{currentUser.age}}
        </h3>
        <h3 class="text-secondary border-bottom pb-3" *ngIf="currentUser.work">Puesto: {{currentUser.work ?
          currentUser.work
          : '----'}}</h3>
        <p>{{currentUser.description}}</p>
      </div>
    </div>
  </div>
  <ng-template #loaderComponent>
    <div class="row">
      <div class="col-12 text-center ">
        <h6 class="my-5">Cargando...</h6>
      </div>
    </div>
  </ng-template>
</div>
<h2>
  Este es el id: {{id}}
</h2>